[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh
[submodule ".vim/pack/base/start/neocomplete.vim"]
	path = .vim/pack/base/start/neocomplete.vim
	url = https://github.com/Shougo/neocomplete.vim
[submodule ".vim/pack/base/start/vim-airline"]
	path = .vim/pack/base/start/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule ".vim/pack/base/start/vimdiscord"]
	path = .vim/pack/base/start/vimdiscord
	url = https://github.com/vbe0201/vimdiscord
[submodule ".vim/pack/base/start/vim-gitgutter"]
	path = .vim/pack/base/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule ".vim/pack/base/start/vim-go"]
	path = .vim/pack/base/start/vim-go
	url = https://github.com/fatih/vim-go
[submodule ".vim/pack/base/start/vimwiki"]
	path = .vim/pack/base/start/vimwiki
	url = https://github.com/vimwiki/vimwiki
[submodule ".vim/pack/base/start/vim-clang-format"]
	path = .vim/pack/base/start/vim-clang-format
	url = https://github.com/rhysd/vim-clang-format
