# Keep things sane and don't upload irrelevant files.

# Ignore everything by default
*

# Allow files
!.gitignore
!.xinitrc

# Allow Vim stuff
!.vim/
!.vim/**
!.vimrc
# Ignore all backups
.vim/backup
# Ignore all these caches unrelated to config.
.vim/.netrwhist

# Allow zsh
!.zshrc

# Config Whitelist (Some programs are naughty and store passwords in .config)
!.config/
!.config/dunst/
!.config/dunst/**
!.config/i3/
!.config/i3/**
!.config/i3blocks/
!.config/i3blocks/**
!.config/neofetch/
!.config/neofetch/**
!.config/nvim/
!.config/nvim/**
!.config/oh-my-zsh/
!.config/oh-my-zsh/**
!.config/termite/
!.config/termite/**
!.config/systemd/
!.config/systemd/**

# Ignore swap files
**/*.swp
**/*.swo

# Allow programming macro
!.macro.cpp
