# Keep things sane and don't upload irrelevant files.

# Ignore everything by default
*

# Allow this file
!.gitignore

# Allow Vim stuff
!.vim/
!.vim/**
!.vimrc
# Ignore all these caches unrelated to config.
.vim/.netrwhist

# Allow zsh
!.zshrc

# Allow dunst
!.config/
!.config/dunst/
!.config/dunst/**

# Allow oh-my-zsh as a submodule to make debugging easier.
!.config/oh-my-zsh/
!.config/oh-my-zsh/**

# Allow i3 and i3blocks
!.config/i3/
!.config/i3/**
!.config/i3blocks/
!.config/i3blocks/**

# Ignore swap files
**/*.swp
**/*.swo

# Allow programming macro
!.macro.cpp
