[submodule ".vim/pack/base/start/neocomplete.vim"]
	path = .vim/pack/base/start/neocomplete.vim
	url = https://github.com/Shougo/neocomplete.vim
[submodule ".vim/pack/base/start/vim-airline"]
	path = .vim/pack/base/start/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule ".vim/pack/base/start/vimdiscord"]
	path = .vim/pack/base/start/vimdiscord
	url = https://github.com/vbe0201/vimdiscord
[submodule ".vim/pack/base/start/vim-gitgutter"]
	path = .vim/pack/base/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule ".vim/pack/base/start/vim-go"]
	path = .vim/pack/base/start/vim-go
	url = https://github.com/fatih/vim-go
[submodule ".vim/pack/base/start/vimwiki"]
	path = .vim/pack/base/start/vimwiki
	url = https://github.com/vimwiki/vimwiki
[submodule ".vim/pack/base/start/vim-clang-format"]
	path = .vim/pack/base/start/vim-clang-format
	url = https://github.com/rhysd/vim-clang-format
[submodule ".vim/pack/base/start/vim-v"]
	path = .vim/pack/base/start/vim-v
	url = https://github.com/cheap-glitch/vim-v
[submodule ".vim/pack/base/start/tabnine-vim"]
	path = .vim/pack/base/start/tabnine-vim
	url = https://github.com/codota/tabnine-vim
[submodule ".config/oh-my-zsh"]
	path = .config/oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh
[submodule ".vim/pack/base/start/vimsence"]
	path = .vim/pack/base/start/vimsence
	url = https://github.com/hugolgst/vimsence
[submodule ".vim/pack/base/start/fzf.vim"]
	path = .vim/pack/base/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim
[submodule ".vim/pack/base/start/vim-renpy"]
	path = .vim/pack/base/start/vim-renpy
	url = https://github.com/chaimleib/vim-renpy
